.register {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 4px;
    background-color: #f0f0f0;
  }
  
  h2 {
    text-align: center;
    color: rgb(117, 117, 117);
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-group {
    width: calc(50% - 10px);
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: rgb(117, 117, 117);
  }
  
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='tel'],
  textarea,
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 4px;
    background-color: white;
    color: rgb(117, 117, 117);
  }
  
  textarea {
    resize: vertical;
  }
  
  button[type='submit'] {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: rgb(99, 180, 255);
    color: white;
    cursor: pointer;
  }
  
  button[type='submit']:hover {
    background-color: #478ac9;
  }
  
  .link-to-login {
    text-align: center;
    color: rgb(117, 117, 117);
    text-decoration: none;
  }
  